/* Base styles for the page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding-top: 100px; /* To account for the fixed header height */
}

/* Header styling - standardized */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    box-sizing: border-box;
    position: fixed; /* Fixes the header at the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the header stays on top of other elements */
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem; /* Standard font size */
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1rem; /* Standard font size */
}

nav a:hover {
    color: #ff6600;
}

/* Main content styling */
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Work in Progress Section */
.work-in-progress {
    margin-bottom: 2rem;
}

.work-in-progress h2 {
    margin-bottom: 1rem;
    color: #333;
}

.work-in-progress p {
    margin-bottom: 1rem;
    color: #555;
}

.work-in-progress img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

/* Responsive design */
@media (max-width: 600px) {
    header, footer {
        padding: 1rem;
    }

    main {
        padding: 1rem;
        margin: 1rem;
        padding-bottom: 100px; /* Maintain extra padding on small screens */
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}
